{
    "serverconf": {
        "port": 3000,
        "https": true, // requires additional setup
        "id_length": 7, // length of file identifiers
        "max_size": 536870912 // 512 MB (1024*1024*512)
    },
    "limiterconf": {
        "max": 16, // requests per
        "minutes": 10
    },
    "serverinfo": {
        "message": "", // message, may appear as a banner
        "rules": [], // rules for the upload server
        "donate": "", // a link to a donations page if available
        "country": "", // two letter country code. example: us for united states
        "server_name": "BitBox Server", // name for the server
        "owner_name": "owner" // name of server owner
    }
}

// oh yeah also remove these comments in your own config.json
// because json isn't supposed to have comments, this is just
// blank fields which will be sent to frontend upon request
